:root {
    --color-iris:#4d5ae5;
    --color-ocean:#404bbf;
    --color-navy-blue:#2e2f42;
    --color-green:#31d0aa;
    --color-slate:#434455;
    --color-light-slate:#8e8f99;
    --color-cornflower:#e7e9fc;
    --color-cloud:#f4f4fd;
    --color-navy-blue-modal:#2e2f42;
    --color-grey:#2e2f42;
    --color-white:#ffffff;
    --color-dairy:#fcfcfc;
    --main-text-color:#fff ;
    --main-bagt-color:#fff;
 }
 
 /* ........index.html........ */
 .body {
        font-family:'Roboto',sans-serif; 
        font-family:'Rawelay',sans-serif;
        color:#434455;
        background-color:#FFFFFF;
 }

 .nav-list{
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color:#4d5ae5;
 }
 .link {
    text-decoration: none;
 }
 .header-logo-list{
   color:#2e2f42;
   list-style: none;
 }

 .header-list-link{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color:#2e2f42;
   text-decoration: none;
 }

 .header-logo-link{
    font-family:"Rawelay",sans-serif;
    font-weight:800;
    font-size:18px;
    line-height:1.17;
    letter-spacing:0.03em;
    text-transform:uppercase;
    color:#4d5ae5;
    list-style:none ;
    text-decoration: none;
 }
.link{
    text-decoration:none;
    color: inherit;
}
.header-list-link:hover {
   color: #404bbf;
}

.header-list-link:focus {
   color: #404bbf;
}

.contact{
   font-style: normal;
}
.contact-list-list{
   list-style: none;
}
.contact-item{
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color:#434455;
}
.contact-link-link:hover,
.contact-link-link:focus{
   color: #404bbf;
}

    .section-hero{
      background-color:#2e2f42;
    }

    .hero-soluction{
      font-size: 56px;
      line-height: 1.07;
      text-align: center;
      letter-spacing: 0.02em;
      color: #ffffff;
    }

         
 .btn-list-text {
 background-color:#4D5AE5;
 font-family: "Roboto", sans-serif;
 font-weight: 500;
 font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
 }
 .btn-list-text:hover,
 .btn-list-text:focus {
    background-color:#404BBF;
 }

 .nav-list {
   font-family:"Raleway",sans-serif ;
   font-weight:800;
   font-size:18px;
   line-height:1.17;
   letter-spacing:0.03em;
   text-transform:uppercase;
   color:#4d5ae5;
 }
 .about-list-link{
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color:#2e2f42;
 }
 .text{
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color:#434455
 }
 .gallery-list{
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color:#2e2f42;
 }
 .section-team{
   background-color: #F4F4FD;
 }
 .list-teams{
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color:#2e2f42;
 }
 .img-list{
   list-style: none;
 }
.footer-container{
   background-color:#2e2f42;
}

.footer-logo-link {
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   text-decoration: none;
}
.header-logo-link-link{
   color: #f4f4fd;
}
 /* portfolio page */
 .portfolio-title{
    list-style:none;
    text-decoration: one;
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    letter-spacing:0.02em;
    color:#2e2f42;
 }

 .portfolio-desk {
    font-family:'Roboto',sans-serif;
    font-weight:400;
    font-size:16px;
     line-height:1.5; 
     letter-spacing:0.02em ;
     color:#434455;
 }
 
 .list-service {
    background-color:#ffffff;
 }
 



                          